<div mat-dialog class="dialog">
  <form name="update-form" novalidate ng-submit="onSubmit()" [formGroup]="form">
    <div mat-dialog-title class="title">
      <button mat-button class="delete" style="color:red" (click)="openDialog()">DELETE</button>
      USER INFORMATION
      <button mat-button (click)="changeEdit()">
        <mat-icon aria-hidden="false">edit</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <!-- <mat-form-field appearance="fill"> -->
      <div style="justify-content: center; width: 100%; display: flex; margin-bottom: 10px">
        <img class="image" src={{data.img}}>
      </div>
      <div>
        <input
          [ngClass]="{'has-error': this.form.controls['firstName'].touched && this.form.controls['firstName'].hasError('required'), 'input-text': 1}"
          type="text" id="firstName" (change)="handleOnChange($event)" placeholder="First Name"
          formControlName="firstName" required [disabled]="disable" [defaultValue]="data.firstName">
        <div *ngIf="this.form.controls['firstName'].touched && this.form.controls['firstName'].invalid" class="alert">
          <div *ngIf="this.form.controls['firstName'].errors && this.form.controls['firstName'].errors['required']">
            Please enter user first name.
          </div>
          <div *ngIf="this.form.controls['firstName'].errors && this.form.controls['firstName'].errors['minlength']">
            The input line is too short.
          </div>
          <div *ngIf="this.form.controls['firstName'].errors && this.form.controls['firstName'].errors['maxlength']">
            The input line is too long.
          </div>
        </div>
      </div>
      <div>
        <input
          [ngClass]="{'has-error': this.form.controls['lastName'].touched && this.form.controls['lastName'].hasError('required'), 'input-text': 1}"
          type="text" maxLength="80" id="lastName" (change)="handleOnChange($event)" placeholder="Last Name"
          formControlName="lastName" required [disabled]="disable" [defaultValue]="data.lastName">
        <div *ngIf="this.form.controls['lastName'].touched && this.form.controls['lastName'].invalid" class="alert">
          <div *ngIf="this.form.controls['lastName'].errors && this.form.controls['lastName'].errors['required']">
            Please enter user last name.
          </div>
          <div *ngIf="this.form.controls['lastName'].errors && this.form.controls['lastName'].errors['minlength']">
            The input line is too short.
          </div>
          <div *ngIf="this.form.controls['lastName'].errors && this.form.controls['lastName'].errors['maxlength']">
            The input line is too long.
          </div>
        </div>
      </div>
      <div style="display: flex; align-items: center;">
        <input class="date-input" type="date" id="dateOfBirth" formControlName="dateOfBirth"
          (change)="handleOnChange($event)" [max]="maxDate" [min]="minDate" [disabled]="disable">
        <input class="radio-input" type="radio" value="male" id="gender" formControlName="gender" required
          (change)="handleOnChange($event)" class="radio-input" [disabled]="disable" [defaultChecked]="data.gender == 'male'">
        Male
        <input class="radio-input" type="radio" value="female" id="gender" formControlName="gender" required
          (change)="handleOnChange($event)" class="radio-input" [disabled]="disable" [defaultChecked]="data.gender == 'female'">
        Female
      </div>
      <div *ngIf="this.form.controls['dateOfBirth'].touched" class="alert">
        <div *ngIf="dateValidator()">
          Wrong date format
        </div>
      </div>
      <div>
        <input class="input-text" type="text" placeholder="ROSEN" disabled=true>
      </div>
      <div>
        <select name="title"
          [ngClass]="{'has-error': this.form.controls['title'].touched && this.form.controls['title'].hasError('required'), 'select': 1}"
          id="title" (change)="handleOnChange($event)" formControlName="title" required [disabled]="disable">
          <option value="" disabled selected [defaultSelected]="data.title">Title</option>
          <option value="Team lead">Team lead</option>
          <option value="Web developer">Web developer</option>
          <option value="Tester">Tester</option>
          <option value="UI/UX">UI/UX</option>
          <option value="DBA">DBA</option>
        </select>
        <div *ngIf="this.form.controls['title'].touched && this.form.controls['title'].invalid" class="alert">
          <div *ngIf="this.form.controls['title'].errors && this.form.controls['title'].errors['required']">
            Title is required.</div>
        </div>
      </div>
      <div>
        <input class="input-text" type="text" [placeholder]="data.email" id="email" disabled>
      </div>
      <div mat-dialog-actions align="end">
        <button mat-button (click)="onNoClick()">DISCARD</button>
        <button mat-button type="submit" [disabled]="form.invalid" (click)="onSubmit()" [mat-dialog-close]="data.firstName"
          cdkFocusInitial>SAVE</button>
      </div>
    </div>
  </form>
</div>